html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Lato', Trebuchet MS, Tahoma, Sans-Serif;
	font-size: 0.9em;
	margin: 2em;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	line-height: 100%;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	color: #59a3d7;
	position: relative;
	margin-left: 7em;
}

h1 .coursename {
	position: absolute;
	font-size: 2em;
	color: #0072c1;
	left: -3.5em;
	top: 50%;
	margin-top: -.25em;
}

h1 a {
	color: #59a3d7;
}

h1 a:hover {
	text-decoration: none;
}

h2 {
	color: #0072c1;
}

h3 {
    clear: both;
}

hr {
	width: 80%;
	border: 0;
	color: #0072c1;
	background-color: #0072c1;
	height: 1px;
}

ul.courseinfo {
	list-style: none;
}

ul.navigation {
	text-align: center;
}

ul.navigation li {
	display: inline;
	margin: 1em;
}

a {
	color: #0072c1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table.announcements {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table.announcements td.date {
	vertical-align: top;
	color: #0072c1;
}

table#calendar {
	width: 95%;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table#calendar th {
    font-family: 'Lato', sans-serif;
	font-size: 1.0em;
	color: #0072c1;
}

table#calendar td {
	border: 1px solid #888;
	background-color: #c1d6e3;
	padding: 0.2em;
}

table#calendar tbody.current td {
	background-color: #b0d4ed;
}

table#calendar td.weeknum {
	text-align: center;
}

table#calendar td.reading ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table.schedule {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

table.schedule th {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	color: #0072c1;
}

table.schedule td {
	border: 1px solid #888;
	width: 19%;
	height: 2em;
	background-color: #c1d6e3;
}

table.schedule td.split {
	width: 9.5%;
}

table.schedule td.time {
	width: auto;
	vertical-align: top;
	text-align: right;
	font-size: 0.7em;
}

table.schedule td.slot {
	text-align: center;
	height: auto;
}

table.schedule td.lecture {
	background-color: #f8fabb;
}

table.schedule td.lab {
	background-color: #74f553;
}

table.schedule td.dis {
	background-color: #F18EF5;
}

table.schedule td.oh {
	background-color: #b2cfff;
}

div.footer {
	width: 100%;
	text-align: center;
	font-size: .8em;
	margin: 1em;
}

div.staffer {
	float: left;
	text-align: center;
    width: 200px;
	margin: 1em;
}

div.staffer img {
	border: 1px solid #888;
}

table.staff_table {
  border-collapse: collapse;
}

table.staff_table td {
  /*border: 1px solid #888; */
  text-align: center;
  padding: 10px;
}

.staffer img {
  border: 1px solid #888;
}

.staffer p {
  font-family: Verdana, Tahoma, Sans-Serif;
  font-size: 1.0em;
}

td.hidden {
  visibility:hidden;
}

table.tally {
	width: 700;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table.tally th {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	color: #0072c1;
}

table.tally td {
	border: 1px solid #888;
	background-color: #c1d6e3;
	padding: 0.2em;
        text-align:center
}
